**Title**: Merge data for stage 1

**Description**: This script merges the data from stage 1 of the analysis - drought index (1 year, 3 year, 5 year), mortality, and unemployment

**Inputs**: 

- Mortality data ('../data/mortality/mortality_cleaned.csv'); 
- Unempolyment data ('../data/unemployment/unemploymentClean.csv') ;
- Drought index:
 - 5-year drought index ('../data/drought_monitor/drought_indicator_5year_matrics_reformat.csv');
 - 3-year drought index ('../data/drought_monitor/drought_indicator_3year_matrics_reformat.csv'); 
 - 1-year dourght index ('../data/drought_monitor/drought_indicator_1year_matrics_reformat.csv').

**Outputs**: A combined csv for data between 2004 and 2014 used in stage 1.

**Author**: Yang Ju (yangju90@berkeley.edu)

**Date**: 04/18/2016

In [1]:
import pandas as pd
import numpy as np
mortality = pd.read_csv(r'../../data/mortality/mortality_cleaned.csv')

In [2]:
drought_3year = pd.read_csv(r'../../data/drought_monitor/drought_indicator_3year_matrics_reformat.csv')
drought_3year.head()

    GISJOIN  year  drought_3year
0  G0100010  2016       0.000000
1  G0100010  2015       0.666487
2  G0100010  2014       6.920886
3  G0100010  2013      26.763541
4  G0100010  2012      29.304187

In [3]:
drought_1year = pd.read_csv(r'../../data/drought_monitor/drought_indicator_1year_matrics_reformat.csv')
drought_1year.head()

    GISJOIN  year  drought_1year
0  G0100010  2016       0.000000
1  G0100010  2015       0.000000
2  G0100010  2014       0.000000
3  G0100010  2013       0.666487
4  G0100010  2012       6.254399

In [4]:
drought_5year = pd.read_csv(r'../../data/drought_monitor/drought_indicator_5year_matrics_reformat.csv')
drought_5year.head()

    GISJOIN  year  drought_5year
0  G0100010  2016       6.920886
1  G0100010  2015      26.763541
2  G0100010  2014      29.970673
3  G0100010  2013      29.970673
4  G0100010  2012      56.162279

In [5]:
unempolyment = pd.read_csv(r'../../data/unemployment/unemploymentClean.csv')
unempolyment.head()

C:\Users\Yang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,LAUS_CODE,state_FIPS,county_FIPS,countyState,year,laborForce,employed,unemployed,unemploymentRate
0,CN0100100000000,1,1,"Autauga County, AL",2000,"21,720","20,846",874,4.0
1,CN0100300000000,1,3,"Baldwin County, AL",2000,"69,533","66,971","2,562",3.7
2,CN0100500000000,1,5,"Barbour County, AL",2000,"11,373","10,748",625,5.5
3,CN0100700000000,1,7,"Bibb County, AL",2000,"8,565","8,111",454,5.3
4,CN0100900000000,1,9,"Blount County, AL",2000,"25,106","24,231",875,3.5

In [6]:
lookup_table = pd.read_csv(r'../../data/county_ID_lookup_table.csv')
lookup_table.head()

,STATEFP10,COUNTYFP10,STATE_NAME10,COUNTY_NAME10,NAMELSAD10,GISJOIN
0,2,13,Alaska,Aleutians East,Aleutians East Borough,G0200130
1,2,16,Alaska,Aleutians West,Aleutians West Census Area,G0200160
2,28,107,Mississippi,Panola,Panola County,G2801070
3,28,101,Mississippi,Newton,Newton County,G2801010
4,28,27,Mississippi,Coahoma,Coahoma County,G2800270

In [7]:
final = mortality.merge(drought_3year, left_on=['GISJOIN','year'], right_on=['GISJOIN','year'], how='inner')
final = final.merge(drought_5year, left_on=['GISJOIN','year'], right_on=['GISJOIN','year'], how='inner')
final = final.merge(drought_1year, left_on=['GISJOIN','year'], right_on=['GISJOIN','year'], how='inner')
final = final.merge(lookup_table,on = 'GISJOIN',how = 'inner')
final = final.merge(unempolyment, left_on = ['STATEFP10','COUNTYFP10','year'],right_on = ['state_FIPS','county_FIPS','year'],how ='inner')
final = final.drop(['LAUS_CODE','state_FIPS','county_FIPS','NAMELSAD10'],axis = 1)

In [8]:
final.head()

,GISJOIN,year,deaths_65+_b,rate_crd_65+_b,rate_adj_65+_b,deaths_u5_b,rate_crd_u5_b,rate_adj_u5_b,deaths_all_b,rate_crd_all_b,...,drought_1year,STATEFP10,COUNTYFP10,STATE_NAME10,COUNTY_NAME10,countyState,laborForce,employed,unemployed,unemploymentRate
0,G0100010,2004,254,4894.0,5492.7,NaN,NaN,NaN,377,779.5,...,0.000000,1,1,Alabama,Autauga,"Autauga County, AL","23,218","22,103","1,115",4.8
1,G0100010,2005,307,5713.8,6686.2,NaN,NaN,NaN,454,913.9,...,0.000000,1,1,Alabama,Autauga,"Autauga County, AL","23,949","23,037",912,3.8
2,G0100010,2006,298,5255.7,6168.0,NaN,NaN,NaN,457,890.4,...,8.999964,1,1,Alabama,Autauga,"Autauga County, AL","24,398","23,585",813,3.3
3,G0100010,2007,263,4495.0,5145.9,NaN,NaN,NaN,406,774.7,...,34.713433,1,1,Alabama,Autauga,"Autauga County, AL","24,383","23,577",806,3.3
4,G0100010,2008,309,5102.4,5704.7,10,NaN,NaN,457,857.8,...,26.858093,1,1,Alabama,Autauga,"Autauga County, AL","24,687","23,420","1,267",5.1

In [9]:
yeild = pd.read_csv("../../data/yield/NASS_all.csv")
yeild = yeild.fillna(0)
yeild.head(100)

,year,period,geolevel,state,STATEFP10,county,COUNTYFP10,domain,corn_yield,soybeans_yield,wheat_yield
0,1998,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,0.0,0.0,37
1,1999,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,76.0,0.0,30
2,2000,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,31.0,0.0,50
3,2001,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,71.0,0.0,32
4,2002,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,52.0,0.0,36
5,2003,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,120.0,0.0,0
6,2004,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,83.0,0.0,0
7,2005,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,103.0,0.0,0
8,2006,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,66.0,0.0,0
9,2007,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,40.0,0.0,0
10,2009,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,0.0,30.0,0
11,2010,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,0.0,16.9,0
12,2011,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,111.1,0.0,0
13,2013,YEAR,COUNTY,ALABAMA,1,AUTAUGA,1,TOTAL,99.3,0.0,0
14,1998,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,0.0,0.0,38
15,1999,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,112.0,28.0,53
16,2000,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,58.0,20.0,62
17,2001,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,0.0,34.0,57
18,2002,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,94.0,27.0,42
19,2003,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,120.0,31.0,0
20,2004,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,120.0,0.0,0
21,2005,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,124.0,0.0,0
22,2006,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,89.0,0.0,0
23,2007,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,105.0,0.0,0
24,2008,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,0.0,41.5,0
25,2009,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,124.0,0.0,0
26,2010,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,161.9,0.0,0
27,2011,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,65.9,0.0,0
28,2012,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,123.3,0.0,0
29,2013,YEAR,COUNTY,ALABAMA,1,BALDWIN,3,TOTAL,156.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
70,2014,YEAR,COUNTY,ALABAMA,1,BUTLER,13,TOTAL,102.8,0.0,0
71,1998,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,0.0,0.0,43
72,1999,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,0.0,18.0,0
73,2000,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,0.0,15.0,0
74,2001,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,0.0,35.0,0
75,2002,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,96.0,21.0,38
76,2003,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,117.0,41.0,0
77,2004,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,144.0,0.0,0
78,2005,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,0.0,31.0,0
79,2006,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,61.0,0.0,0
80,2007,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,90.0,0.0,0
81,2009,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,103.0,0.0,0
82,2010,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,118.3,0.0,0
83,2011,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,119.6,0.0,0
84,2012,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,98.7,0.0,0
85,2013,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,117.4,0.0,0
86,2014,YEAR,COUNTY,ALABAMA,1,CALHOUN,15,TOTAL,136.2,0.0,0
87,2003,YEAR,COUNTY,ALABAMA,1,CHAMBERS,17,TOTAL,0.0,0.0,35
88,1998,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,0.0,0.0,44
89,1999,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,107.0,16.0,50
90,2000,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,47.0,17.0,55
91,2001,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,119.0,35.0,47
92,2002,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,78.0,24.0,44
93,2003,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,132.0,40.0,0
94,2004,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,143.0,0.0,0
95,2005,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,135.0,0.0,0
96,2006,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,68.0,0.0,0
97,2007,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,35.0,0.0,0
98,2009,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,83.0,0.0,0
99,2010,YEAR,COUNTY,ALABAMA,1,CHEROKEE,19,TOTAL,65.2,0.0,0

In [10]:
final = final.merge(yeild,left_on = ['STATEFP10','COUNTYFP10','year'],right_on = ['STATEFP10','COUNTYFP10','year'],how = 'inner')
final = final.drop(['period','geolevel','state','county','domain'],axis = 1)

In [11]:
final.head()

,GISJOIN,year,deaths_65+_b,rate_crd_65+_b,rate_adj_65+_b,deaths_u5_b,rate_crd_u5_b,rate_adj_u5_b,deaths_all_b,rate_crd_all_b,...,STATE_NAME10,COUNTY_NAME10,countyState,laborForce,employed,unemployed,unemploymentRate,corn_yield,soybeans_yield,wheat_yield
0,G0100010,2004,254,4894.0,5492.7,NaN,NaN,NaN,377,779.5,...,Alabama,Autauga,"Autauga County, AL","23,218","22,103","1,115",4.8,83,0,0
1,G0100010,2005,307,5713.8,6686.2,NaN,NaN,NaN,454,913.9,...,Alabama,Autauga,"Autauga County, AL","23,949","23,037",912,3.8,103,0,0
2,G0100010,2006,298,5255.7,6168.0,NaN,NaN,NaN,457,890.4,...,Alabama,Autauga,"Autauga County, AL","24,398","23,585",813,3.3,66,0,0
3,G0100010,2007,263,4495.0,5145.9,NaN,NaN,NaN,406,774.7,...,Alabama,Autauga,"Autauga County, AL","24,383","23,577",806,3.3,40,0,0
4,G0100010,2009,277,4367.7,4931.7,NaN,NaN,NaN,412,761.1,...,Alabama,Autauga,"Autauga County, AL","24,703","22,301","2,402",9.7,0,30,0

In [12]:
final.to_csv(r'../../data/data_combined.csv')