## Test on one piece of data

## Imports and settings

In [202]:
import pandas as pd
import numpy as np
from os.path import join

In [481]:
# filepaths
data_dir = '../data'
mort_data_dir = join(data_dir,'mortality')
raw_dir = join(mort_data_dir,'raw')
geoid_file = join(data_dir,'county_ID_lookup_table.csv')
state_names_file = join(mort_data_dir,'lookup_tables','state_postal_code_lookup_table.csv')

# years, genders, ages to aggregate
years = range(1999,2015)
genders = ['b']
ages = ['65+','u5','all']

# Drop rates labeled as "unreliable"?
drop_unreliable = True

# metrics to keep
metrics = {'deaths','rate_crd','rate_adj'}

## Functions

In [474]:
def clean_mort_df(df, age=None, gender=None, year=None, county_col='County Code'):
    """Cleans mortality data DataFrame after it has been already loaded"""

    # Drop notes at bottom of file
    df = df[df['County Code'].notnull()]
    
    # Adjust column names
    col_dict = {
        'County Code':'county_code',
        'County':'county',
        'Deaths':'deaths_{}_{}'.format(age,gender),
        'Crude Rate':'rate_crd_{}_{}'.format(age,gender),
        'Age Adjusted Rate':'rate_adj_{}_{}'.format(age,gender)
    }
    df = df.rename(columns=col_dict)
    
    # drop metrics if don't want to include them in cleaned dataset
    to_drop = {'deaths','rate_crd','rate_adj'} - metrics
    df = df.drop(list(to_drop),axis=1)
    
    # Set county code as index
    df = df.set_index('county_code', verify_integrity=True)

    return df

In [475]:
def get_county_code_mapping(fname=join(raw_dir,'mort_all_2010_b.txt')):
    """Return a DataFrame with an index that is the County Code and string County and State columns"""
    
    # Load data
    df = pd.read_table(fname,
                        usecols=[1,2],
                        dtype={'County Code':str})

    # Clean data
    df = clean_mort_df(df)
    
    # convert county names that differ from those in the county name-GEOID mapping file
    df = df.replace({'county':cty_name_dict})
    
    # Split county and state
    df[['county','state']] = df['county'].str.split(', ', expand=True)
    
    return df

In [476]:
def get_state_postal_code_mapping(fname=state_names_file):
    result = pd.read_csv(fname,index_col=1)
    result = result.rename(columns={'State':'state_name'})
    
    return result

In [477]:
def get_geoid_mapping(fname=geoid_file):
    result = pd.read_csv(fname,
               usecols=[2,4,5],
               index_col=[0,1])
    result.index.names = ['state','county']
    return result

In [478]:
def load_data(age,year,gender):
    """Load a single downloaded mortality dataset and format into appropriate DataFrame object"""
    fname = 'mort_{}_{}_{}.txt'.format(age,year,gender)
    fpath = join(raw_dir,fname)
    
    # Load data
    data = pd.read_table(fpath,
                      usecols=[2, 3, 5, 6],
                      dtype={'County Code':str},
                        na_values=['Suppressed', 'Missing'])
    
    # Drop unreliable values if desired (or keep them as numbers)
    if drop_unreliable:
        data = data.replace('.*(Unreliable)', np.nan, regex=True)
    else:
        data = data.replace('(?<=[0-9] )\(Unreliable\)', '',regex=True)
        
    # Clean data
    data = clean_mort_df(data,age=age,gender=gender)
    data = data.astype(np.float64)
    # drop if all are na
    data = data[data['deaths_{}_{}'.format(age,gender)].notnull()]
    
    # Add year to index
    data['year'] = year
    data = data.set_index('year', append=True, drop=True)
    
    # rearrange columns
    data = data.reindex(columns=
                        ['deaths_{}_{}'.format(age,gender),
                         'rate_crd_{}_{}'.format(age,gender),
                         'rate_adj_{}_{}'.format(age,gender)])
    
    return data

In [485]:
def clean_all(out_fname=join(mort_data_dir,'mortality_cleaned.csv'),data_dir=raw_dir):
    """Master mortality data cleaning function"""
    
#     # get CDC-based county code-name map
#     cty_name_map = get_county_code_mapping()
    
#     # Get geoid's used in other datasets
#     geoids = get_geoid_mapping()
    
#     # Get state postal code-name mapping
#     state_names = get_state_postal_code_mapping()
    
    all_data = pd.DataFrame()
    for y in years:
        one_year = pd.DataFrame()
        for g in genders:
            for a in ages:
                df = load_data(a,y,g)
                if one_year.empty:
                    one_year = df
                else:
                    one_year = one_year.merge(df,left_index=True,right_index=True,how='outer')
        all_data = all_data.append(one_year, verify_integrity=False)

    # Swap county ID to "GISJOIN ID"
    all_data = all_data.reset_index()
    all_data['GISJOIN'] = 'G' + all_data['county_code'].str[:2] + '0' + all_data['county_code'].str[-3:] + '0'
    all_data = all_data.drop(['county_code'],axis=1)
    
    # sort
    all_data = all_data.set_index(['GISJOIN','year']).sort_index()
    
    # save
    all_data.to_csv(out_fname)
    
    return all_data

In [486]:
x=clean_all()

In [487]:
x

               deaths_65+_b  rate_crd_65+_b  rate_adj_65+_b  deaths_u5_b  \
GISJOIN  year
G0100010 1999           258          5912.0          6607.2          NaN
         2000           248          5581.8          6197.4          NaN
         2001           259          5549.6          6248.3          NaN
         2002           261          5418.3          6128.5          NaN
         2003           263          5266.3          6016.6          NaN
         2004           254          4894.0          5492.7          NaN
         2005           307          5713.8          6686.2          NaN
         2006           298          5255.7          6168.0          NaN
         2007           263          4495.0          5145.9          NaN
         2008           309          5102.4          5704.7           10
         2009           277          4367.7          4931.7          NaN
         2010           289          4414.9          5153.5          NaN
         2011           291          4221.1          4864.2          NaN
         2012           372          5134.6          5909.0          NaN
         2013           354          4740.9          5511.8          NaN
         2014           318          4150.9          4651.3          NaN
G0100030 1999           948          4454.0          4852.7           28
         2000           993          4576.9          4940.4           14
         2001          1065          4715.5          5078.0           16
         2002          1077          4622.3          5011.6           17
         2003          1129          4682.1          5051.1           15
         2004          1147          4597.4          4978.8           14
         2005          1159          4474.0          4884.5           23
         2006          1211          4510.4          4916.5           16
         2007          1234          4462.9          4828.1           12
         2008          1248          4339.8          4733.5           18
         2009          1255          4215.2          4576.5           25
         2010          1324          4331.3          4687.0           10
         2011          1363          4275.8          4658.2           16
         2012          1327          3922.6          4333.4           12
...                     ...             ...             ...          ...
G5600430 2001            68          5116.6          4972.9          NaN
         2002            65          4931.7          4841.9          NaN
         2003            71          5302.5          5050.2          NaN
         2004            76          5543.4          5352.4          NaN
         2005            67          4901.2          4668.8          NaN
         2006            62          4512.4          4378.4          NaN
         2007            68          4895.6          4741.3          NaN
         2008            74          5285.7          5085.7          NaN
         2009            68          4692.9          4724.7          NaN
         2010            68          4509.3          4552.8          NaN
         2011            67          4336.6          4400.2          NaN
         2012            70          4430.4          4442.1          NaN
         2013            52          3200.0          3164.7          NaN
         2014            66          3942.7          3926.5          NaN
G5600450 1999            50          4840.3          4814.3          NaN
         2000            50          4835.6          4759.9          NaN
         2001            49          4631.4          4583.2          NaN
         2002            55          5208.3          5135.8          NaN
         2003            54          5094.3          5093.9          NaN
         2004            44          4074.1          3942.1          NaN
         2005            55          5050.5          4727.6          NaN
         2006            50          4496.4          4449.2          NaN
         2007            62          5501.3          5481.7          NaN
         2008            48          4308.8          4242.2          NaN
         2009            59          5207.4          5093.3          NaN
         2010            51          4438.6          4137.7          NaN
         2011            53          4657.3          4511.5          NaN
         2012            56          4682.3          4442.9          NaN
         2013            52          4180.1          4081.8          NaN
         2014            63          4846.2          4499.2          NaN

               rate_crd_u5_b  rate_adj_u5_b  deaths_all_b  rate_crd_all_b  \
GISJOIN  year
G0100010 1999            NaN            NaN           361           840.3
         2000            NaN            NaN           356           815.2
         2001            NaN            NaN           362           806.4
         2002            NaN            NaN           388           845.2
         2003            NaN            NaN           400           854.7
         2004            NaN            NaN           377           779.5
         2005            NaN            NaN           454           913.9
         2006            NaN            NaN           457           890.4
         2007            NaN            NaN           406           774.7
         2008            NaN            NaN           457           857.8
         2009            NaN            NaN           412           761.1
         2010            NaN            NaN           433           793.5
         2011            NaN            NaN           456           825.0
         2012            NaN            NaN           514           931.3
         2013            NaN            NaN           535           970.3
         2014            NaN            NaN           482           870.1
G0100030 1999          330.3          332.9          1290           937.8
         2000            NaN            NaN          1322           941.5
         2001            NaN            NaN          1432           988.4
         2002            NaN            NaN          1451           980.7
         2003            NaN            NaN          1505           993.3
         2004            NaN            NaN          1549           991.3
         2005          232.3          225.6          1576           971.7
         2006            NaN            NaN          1650           981.4
         2007            NaN            NaN          1682           975.6
         2008            NaN            NaN          1685           958.3
         2009          222.3          225.6          1708           952.0
         2010            NaN            NaN          1798           986.5
         2011            NaN            NaN          1852           992.0
         2012            NaN            NaN          1801           945.1
...                      ...            ...           ...             ...
G5600430 2001            NaN            NaN            77           954.4
         2002            NaN            NaN            83          1039.1
         2003            NaN            NaN            89          1115.8
         2004            NaN            NaN            92          1155.8
         2005            NaN            NaN            90          1121.9
         2006            NaN            NaN            79           990.1
         2007            NaN            NaN            83          1016.0
         2008            NaN            NaN            89          1081.5
         2009            NaN            NaN            86          1021.0
         2010            NaN            NaN            87          1019.6
         2011            NaN            NaN            88          1039.5
         2012            NaN            NaN            92          1089.9
         2013            NaN            NaN            74           875.7
         2014            NaN            NaN            81           973.3
G5600450 1999            NaN            NaN            66           990.0
         2000            NaN            NaN            62           933.2
         2001            NaN            NaN            62           955.8
         2002            NaN            NaN            67          1018.5
         2003            NaN            NaN            63           953.1
         2004            NaN            NaN            57           857.7
         2005            NaN            NaN            71          1076.7
         2006            NaN            NaN            74          1101.7
         2007            NaN            NaN            80          1137.5
         2008            NaN            NaN            62           869.2
         2009            NaN            NaN            69           949.6
         2010            NaN            NaN            70           971.1
         2011            NaN            NaN            72          1013.8
         2012            NaN            NaN            72          1021.1
         2013            NaN            NaN            68           950.5
         2014            NaN            NaN            81          1124.8

               rate_adj_all_b
GISJOIN  year
G0100010 1999          1064.7
         2000          1023.1
         2001          1008.8
         2002          1037.6
         2003          1038.4
         2004           934.5
         2005          1123.4
         2006          1073.1
         2007           906.7
         2008           975.4
         2009           854.7
         2010           889.3
         2011           884.0
         2012           983.2
         2013           994.5
         2014           853.1
G0100030 1999           848.7
         2000           844.5
         2001           875.8
         2002           867.2
         2003           859.3
         2004           851.7
         2005           842.2
         2006           851.1
         2007           836.6
         2008           812.7
         2009           802.3
         2010           814.1
         2011           813.6
         2012           760.2
...                       ...
G5600430 2001           741.5
         2002           828.5
         2003           843.4
         2004           843.7
         2005           823.8
         2006           736.9
         2007           781.2
         2008           803.4
         2009           775.6
         2010           771.6
         2011           770.4
         2012           789.1
         2013           662.7
         2014           644.1
G5600450 1999           844.4
         2000           771.7
         2001           753.3
         2002           809.8
         2003           783.3
         2004           651.7
         2005           811.8
         2006           861.4
         2007           929.1
         2008           704.6
         2009           753.4
         2010           747.1
         2011           796.7
         2012           766.3
         2013           732.6
         2014           743.2

[49645 rows x 9 columns]

In [444]:
x.loc[('G0800910',2001),:]

county            Ouray County
state                       CO
deaths_65+_b                12
rate_crd_65+_b             NaN
rate_adj_65+_b             NaN
deaths_u5_b                NaN
rate_crd_u5_b              NaN
rate_adj_u5_b              NaN
deaths_all_b                17
rate_crd_all_b             NaN
rate_adj_all_b             NaN
Name: (G0800910, 2001), dtype: object

In [463]:
x.index.duplicated(keep=False).sum()

0

In [456]:
x.sort_index().loc[('G0800910',2001),:]

county            Ouray County
state                       CO
deaths_65+_b                12
rate_crd_65+_b             NaN
rate_adj_65+_b             NaN
deaths_u5_b                NaN
rate_crd_u5_b              NaN
rate_adj_u5_b              NaN
deaths_all_b                17
rate_crd_all_b             NaN
rate_adj_all_b             NaN
Name: (G0800910, 2001), dtype: object

In [460]:
y = x.reset_index()
y[(y['GISJOIN']=='G0800910') & (y['year']==2001)]

,GISJOIN,year,county,state,deaths_65+_b,rate_crd_65+_b,rate_adj_65+_b,deaths_u5_b,rate_crd_u5_b,rate_adj_u5_b,deaths_all_b,rate_crd_all_b,rate_adj_all_b
6486,G0800910,2001,Ouray County,CO,12,NaN,NaN,NaN,NaN,NaN,17,NaN,NaN

In [409]:
x.loc[('G5100050',1999),:]

/Users/ianbolliger/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:1225: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

                         county  deaths_65+_b  rate_crd_65+_b  rate_adj_65+_b  \
GISJOIN  year
G5100050 1999  Alleghany County           106          5281.5          5564.7
         1999  Alleghany County            66          6376.8          5810.2

               deaths_u5_b  rate_crd_u5_b  rate_adj_u5_b  deaths_all_b  \
GISJOIN  year
G5100050 1999          NaN            NaN            NaN           136
         1999          NaN            NaN            NaN            81

               rate_crd_all_b  rate_adj_all_b state_name
GISJOIN  year
G5100050 1999          1057.5           899.5   Virginia
         1999          1850.2          1043.6   Virginia